.skills {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.skills-container-grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.skills-container-grid .skills-card {
  border-radius: 5px;
  padding: 20px;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
  border: 1px solid;
  position: relative;
  overflow: hidden;
}

.skills-container-grid .skills-card:hover {
  transform: translateY(-5px);
}

.skills-container-grid .skills-card .skills-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.skills-container-grid .skills-card .skills-stack {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;
}

.skills-container-grid .skills-card .skills-stack span {
  margin-right: 10px;
  margin-bottom: 10px;
}

/* mobile phones */
@media (max-width: 768px) {
  .skills-container-grid .skills-card .skills-stack {
    justify-content: center;
    align-items: center;
  }
  .skills-container-grid .skills-card .skills-title {
    text-align: center;
  }
}
