:root {
  --dark-theme-background: #000000;
  --dark-theme-color: rgb(255, 255, 255);
  --light-theme-background: rgb(255, 255, 255);
  --light-theme-color: #000000;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--dark-theme-background);
  color: var(--dark-theme-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
