:root {
  --light-theme-background: rgb(255, 255, 255);
  --light-theme-color: #000000;
  --dark-theme-background: #000000;
  --dark-theme-color: rgb(255, 255, 255);
}

.app {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
}

#light {
  background-color: var(--light-theme-background);
  color: var(--light-theme-color);
}

#dark {
  background-color: var(--dark-theme-background);
  color: var(--dark-theme-color);
}

/* .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
} */

main {
  max-width: 1100px;
  width: 95%;
  margin: 0 auto;
}
