* {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: inherit;
  color: inherit;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}
